<div class="main-content">
    <div class="main-content__item">
        {% include 'partials/main-content/header.html.twig' with {'date': date, 'username': username} %}

        <h3 class="title-filter">Liste des prochaines dates de rendu</h3>
    </div>
</div>
