<aside class="sidebar-right">
    {% include 'partials/sidebar-right/calendar_container.html.twig' %}

    <div class="reminder-list-container">
        <h3 class="reminder">Liste de rappels</h3>
        <div id="reminderList" class="reminder-list"></div>
    </div>
</aside>