<aside class="sidebar">
    <nav class="sidebar-nav">
        {% include 'partials/sidebar-left/logo.html.twig' %}
        {% include 'partials/sidebar-left/nav_items.html.twig' %}
    </nav>

    <div class="mod-button" id="toggleDarkMode">
        {% include 'partials/sidebar-left/mod_button.html.twig' %}
    </div>

    <div class="sidebar-footer">
        {% include 'partials/sidebar-left/profile.html.twig' %}
        {% include 'partials/sidebar-left/logout.html.twig' %}
    </div>
</aside>
