@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

*{
    font-family: 'Inter', sans-serif;
}




.sidebar {
    width: 250px; /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    border: 1px solid #0068FF;
    border-radius: 30px;
    height: 40.4rem;
    background-color: white;
}

.dark-mode .sidebar {
    background-color: #24243A;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
}


.nav-item,.nav-btn {
    box-sizing: border-box;
    padding: 10px 45px; /* Utilisez un padding uniforme */
    margin: 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #A2A9C8;
    font-size: 17px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* Transition douce pour le changement d'état */
}

.layout{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-btn{
    padding: 0;
}
.dark-mode .nav-item {
    color: #fff;
}

.nav-item i {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; /* Padding constant pour l'icône */
}

/* Styles pour l'état actif */
.nav-item.active {
    color: #0068FF; /* Texte en blanc pour l'état actif */

}
.dark-mode .nav-item.active {
    color: #3384FA;
}

.nav-item.active i {
    background-color: #0068FF; /* Fond de l'icône actif */
    border-radius: 7px; /* Rond pour l'icône actif */
}
.dark-mode .nav-item.active i {
    background-color: #3384FA;
}

.nav-item.active svg path {
    stroke: white; /* SVG en blanc pour l'état actif */
}


.logo svg {
    display: block;
    margin: 0 auto 5px;
    width: 100px; /* Adjust the logo size */
}

.logo-text {
    text-align: center;
    font-weight: 500;
    /* font-size: 1.5em; */
    margin: 0 0 13px 0;
}
.dark-mode .logo-text {
    color: #F3F6FF;
}

.separator-profile{
    border: 1px solid #F6F6F5;
    margin: 10px;
}
.dark-mode .separator-profile{
    border: 1px solid #34344C;
}

.profile {
    display: flex;
    align-items: center;
}
.profile-info{
    margin: 0;
}
.profile-info-user{
    margin: 0px;
    font-weight: medium;
    color: #24243A;
}
.dark-mode .profile-info-user{
    color: #fff;
}

.profile-info-user span{
    font-weight: regular;
    font-size: 16px;
    color: #A2A9C8;
}

.profile-picture {
    width: 50px; /* Adjust the profile picture size */
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #F6F6F5;
}

.logout-button {
    padding: 14px 48px;
    text-align: center;
    background-color: #24243A; /* Button background color */
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 20px;
}
.dark-mode .logout-button {
    background-color: #F3F6FF;
    color: #24243A;
    border: none;
}


.logout-button i {
    padding-left: 10px; /* Adjust icon spacing */
}

/* Add hover effects */
.nav-item:hover{
    color: #0068FF;
}
.dark-mode .nav-item:hover{
    color: #3384FA;
}

.logout-button:hover{
    background-color: #131321;
}
.dark-mode .logout-button:hover{
    background-color: #f3f6ffd9;
    color: #24243A;
}


.mod{
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

.mod-button{
    background-color: #F3F6FF;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.light{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ajoutez ceci à votre fichier CSS existant */

.main-content {
    margin: 0 20px 0 20px; /* ou la largeur de votre sidebar */
    padding: 15px;
    background-color: #F3F6FF;
    border-radius: 30px;
    width: 52rem;
    max-height: 40.4rem;
    height: 40.4rem;
    overflow-y: hidden;
}
.dark-mode .main-content {
    background-color: #24243A;
}

.main-header {
    border-radius: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.titles-container {
    display: flex;
    flex-direction: column; /* Stack h2 and h1 vertically */
}


.main-header h1 {
    color: #24243A; /* ou la couleur de votre choix */
    font-weight: 400;
    font-size: 33px;
    margin: 0 0 20px 0;
}
.dark-mode .main-header h1 {
    color: #fff;
}

.main-header h2{
    color: #0068FF;
    font-weight: 500;
    font-size: 33px;
    margin: 20px 0 0 0;
}
.dark-mode .main-header h2{
    color: #3384FA;
}


.search-bar #search-input {

    outline: none;
    flex-grow: 1;
    color: #A2A9C8;
    background-image: url('data:image/svg+xml;utf8,<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.5 10C7.98528 10 10 7.98528 10 5.5C10 3.01472 7.98528 1 5.5 1C3.01472 1 1 3.01472 1 5.5C1 7.98528 3.01472 10 5.5 10Z" stroke="%23A2A9C8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 12L9 9" stroke="%23A2A9C8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center; /* Adjust the position as needed */
    background-size: 13px 13px; /* Size of the SVG icon */
    display: flex;
    align-items: center;
    background-color: #FFF;
    border-radius: 25px;
    padding: 8px 20px;
    max-width: 220px;
    margin: auto;
    border: 1px solid #F6F6F5;
}

.search-bar #search-input::placeholder {
    color: #A2A9C8;
}

.dark-mode .search-bar #search-input:focus {
    border: 2px solid #3384FA; /* Focus border color */
}
/* Adjust the style when the input is focused */
.search-bar #search-input:focus {
    color: #24243A;
    border-color: #0068FF;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr)); /* Ajustez la taille de la carte */
    grid-gap: 20px;
    overflow-y: auto; /* Permet le défilement */
    max-height: 330px; /* Hauteur maximale avant le défilement */
    padding: 20px; /* Espace autour des cartes */
    grid-auto-rows: 345px;
    margin-bottom: 50px;
}


.card-container::-webkit-scrollbar {
    display: none; /* Cache les barres de défilement sur Webkit/Safari/Chrome */
}

.card-container {
    -ms-overflow-style: none;  /* Cache les barres de défilement pour IE et Edge */
    scrollbar-width: none;  /* Cache les barres de défilement pour Firefox */
}

.card {
    background-color: #FADB39; /* Couleur pour la carte jaune */
    border-radius: 20px;
    padding: 20px;
    position: relative;
    height: fit-content;
    /* Ajoutez d'autres styles pour vos cartes ici */
}
.card-date{
    background-color: #fff;
    padding: 8px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 111px;
    font-weight: 500;
    font-size: 13px;
}
.card-title{
    padding: 7px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}
.matiere{
    border: 1px solid #EAC917;
}
.card-details{
    font-size: 12px;
    margin: 0 0 15px 0;

}
.details{
    font-size: 14px !important;
}
.additional-content p {
    font-size: 10px;
}
.send{
    margin: 2px;
}

.email-address {
    font-weight: bold; /* Mettre l'adresse e-mail en gras */
    margin: 0 0 15px 0;
}

.checkbox-container {
    position: absolute;
    top: 10px; /* Ajustez selon la marge souhaitée du haut de la carte */
    right: 10px; /* Ajustez selon la marge souhaitée du côté droit de la carte */
    padding: 5px; /* Espace autour de la case à cocher */
}

.title-filter{
    padding: 0 20px 0 20px;
    font-weight: 500;
    font-size: 21px;
    color: #A2A9C8;
    margin: 0;
}
/* Container pour les dropdowns et les tags des filtres */
.dropdown-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

/* Style pour les boutons dropdown */
.dropbtn {
    background-color: #fff;
    color: black;
    padding: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Assure une répartition de l'espace */
    border-radius: 8px;
    border: none;
}

/* SVG styling via a background-image */
.dropdown-clear {
    display: inline-block;
    width: 9px;
    height: 9px;
    background: url('data:image/svg+xml;utf8,<svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.00006L8 8.00006" stroke="%230068FF" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 8L8 0.999996" stroke="%230068FF" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center;
    background-size: contain;
    cursor: pointer;
    margin-right: 10px; /* Espace entre la croix et le texte */
}
.dropdown-arrow {
    display: inline-block;
    width: 10px;
    height: 6px;
    background: url('data:image/svg+xml;utf8,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1L5 5L1 1" stroke="%230068FF" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center;
    background-size: contain;
    cursor: pointer;
    margin-left: 10px; /* Espace entre le texte et la flèche */
}

/* Ensure that clicking the clear span doesn't trigger the dropdown */
.dropbtn:hover .dropdown-clear {
    display: inline-block;
}

/* The rest of the CSS remains unchanged */


/* Container pour le contenu des dropdowns */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #ccc;
    padding: 5px;
}

/* Afficher le contenu dropdown au clic */
.dropdown-content.show {
    display: block;
}

/* Style pour les checkboxes à l'intérieur des dropdowns */
.dropdown-content label {
    display: block;
    cursor: pointer;
}

.clear-icon {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-right: 5px; /* Ajuster l'espacement si nécessaire */
    background: url('data:image/svg+xml;utf8,<svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.00006L8 8.00006" stroke="%2324243A" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 8L8 0.999996" stroke="%2324243A" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center;
    background-size: contain;
}
/* Bouton pour effacer les filtres */
.clear-filters {
    /* padding: 6px 20px; */
    background-color: #f3f6ff;
    color: #24243A;
    border: none;
    cursor: pointer;
}
.dark-mode .clear-filters {
    background-color: #24243A;
    color: #fff;
}

/* Container pour les tags des filtres sélectionnés */
.selected-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;

}
.dropdown-count {
    margin: 0 5px; /* Ajustez l'espacement selon vos besoins */
    background-color: #F2F2F3;
    color: #A2A9C8;
    border-radius: 35%;
    padding: 2px 5px;
}

/* Style pour les tags des filtres */
.filter-tag {
    padding: 5px 10px;
    background-color: #e6e6e6;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Bouton pour retirer un tag de filtre */
.remove-tag {
    cursor: pointer;
    color: #999;
    margin-left: 8px;
}




.card-checkbox {
    appearance: none; /* Supprime le style par défaut de la case à cocher */
    -webkit-appearance: none; /* Supprime le style par défaut de la case à cocher pour les navigateurs WebKit */
    background-color: #fff; /* Couleur de fond de la case à cocher */
    margin: 0;
    cursor: pointer;
    width: 25px; /* Taille de la case à cocher */
    height: 25px;
    border: 2px solid #A2A9C8; /* Couleur de la bordure de la case à cocher */
    border-radius: 50%; /* Rend la case à cocher complètement ronde */
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px; /* Alignement vertical si nécessaire */
}
.card-checkbox:checked {
    border-color: #A2A9C8;
    /* background-color: #F3F6FF; */
}

.card-checkbox:checked::after {
    content: url('data:image/svg+xml;utf8,<svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 1L5.375 10L1 5.90909" stroke="%23A2A9C8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrer correctement le SVG dans la case à cocher */
    width: 15px; /* Largeur du SVG */
    height: 9px; /* Hauteur du SVG */
    pointer-events: none; /* Pour empêcher l'interaction avec la case à cocher */
}

.card-actions {
    display: flex;
    flex-direction: column; /* Les éléments enfants sont empilés verticalement */
    align-items: flex-start; /* Alignez les éléments à gauche */
}

.card-action,
.card-reminder {
    margin: 5px 0; /* Ajoute un espace entre les boutons */
    display: flex; /* Permet d'aligner le SVG et le texte */
    align-items: center; /* Centre le texte avec le SVG */
}

.card-action svg,
.card-reminder svg {
    margin-right: 8px; /* Ajoute de l'espace entre le SVG et le texte */
}

.card-action{
    background-color: #8DD384;
    padding: 8px 35px;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
}
.card-action:hover{
    background-color: #8dd384c3;
}
.card-reminder{
    background-color: #F3F6FF;
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 13px;
    color: #A2A9C8;
    border: 1px solid #F3F6FF;
}
.card-reminder:hover{
    background-color: #f3f6ffd9;
    border: 1px solid #f3f6ffd9;
}

/* Vous devrez ajuster les couleurs et les styles pour correspondre exactement à votre design. */
.calendar-container {
    text-align: left; /* Alignement à gauche */
    background: #F3F6FF;
    border-radius: 10px;
    padding: 25px; /* Padding réduit */
    font-size: 11px; /* Taille de police réduite */
    width: max-content;
    max-width: 100%; /* S'assure que le calendrier ne dépasse pas la largeur de la barre latérale */
}
.current-date-display, .month-display {
    text-align: left; /* Alignement à gauche */
}
.current-date-display {
    color: #0068FF;
    border-radius: 20px;
    font-size: 0.9rem; /* Taille de police réduite */
    display: inline-block;
    font-weight: bold;
    margin: 0 0 0 5px; /* Marge réduite */
}
.separator-calendar {
    border: 1.5px solid #DBE9FF;
}
.month-display {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alignement à gauche */
    margin-bottom: 3px; /* Marge réduite */
    color: #A2A9C8;
}
.chevron {
    cursor: pointer;
    margin: 0 3px; /* Marge des flèches réduite */
}
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 25px); /* Largeur des cellules réduite */
    gap: 2px; /* Espacement réduit */
}
.day-header, .day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px; /* Largeur réduite */
    height: 25px; /* Hauteur réduite */
    font-size: 0.75rem; /* Taille de police réduite */
}
.day-header {
    font-weight: bold;
}
.day {
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
}
.day:not(.empty):hover:not(.selected) {
    background-color: #e9e9e9;
}
.selected {
    background-color: #0068FF;
    color: white;
}

.sidebar-right {
    width: 250px; /* Même largeur que la sidebar gauche */
    background-color: #FFFFFF; /* Même couleur de fond que la sidebar gauche */
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 1px solid #0068FF;
    border-radius: 30px;
    height: 40.4rem; /* Hauteur spécifiée */
    overflow-y: auto; /* Permet le défilement si nécessaire */
    align-items: center; /* Centrage horizontal du contenu */
    overflow-x: hidden;
    -ms-overflow-style: none;  /* Cache les barres de défilement pour IE et Edge */
    scrollbar-width: none;
}
.sidebar-right::-webkit-scrollbar {
    display: none; /* Cache les barres de défilement sur Webkit/Safari/Chrome */
}

.dark-mode .sidebar-right {
    background-color: #24243A;
}

#darkModeIcon, #darkLogo, #darkLogoutIcon {
    display: none;
}

.dark-mode #lightModeIcon, .dark-mode #normalLogo, .dark-mode #lightLogoutIcon {
    display: none;
}

.dark-mode #darkModeIcon, .dark-mode #darkLogo, .dark-mode #darkLogoutIcon {
    display: block;
}

.reminder{
    text-align: left;
}

.reminder-date{
    color: #000;
}

.reminder-card {
    border-radius: 20px;
    margin: 10px 0;
    padding: 15px;
    font-size: 10px;
    position: relative;
}
.reminder-checkbox {
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    margin: 0;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: 2px solid #A2A9C8;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
.dark-mode .reminder {
    color: #A2A9C8;
}

.reminder-card.blue {
    background-color: #007BFF;
}

.reminder-card.yellow {
    background-color: #FADB39;
}

.reminder-date{
    background-color: #fff;
    padding: 6px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    font-weight: 500;
    margin: 0 0 5px 0;
}
.reminder-title{
    font-weight: 600;
}
.reminder-checkbox-container {
    position: absolute;
    top: 10px;  /* Ajustez selon la marge souhaitée du haut de la carte */
    right: 10px; /* Ajustez selon la marge souhaitée du côté droit de la carte */
    padding: 5px; /* Espace autour de la case à cocher */
}

.card.editable .editable{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}
.nav-text{
    margin: 0;
}
.navbar-text{
    text-decoration: none !important;
    color: #A2A9C8;
    margin: 0;
}
.semestre,.groupe{
    display: none;
}

/* Responsiveness */
/* Pour les appareils avec une largeur max de 768px (typiquement des tablettes et smartphones) */
@media (max-width: 940px) {
    /* Masquer la sidebar-right */
    .sidebar-right {
        display: none;
    }

    /* Transformer la sidebar en barre de navigation au bas de l'écran */

    body{
        background-color: #f3f6ff;
    }
    .layout {
        display: flex;
        flex-direction: column-reverse; /* Contenu en haut, sidebar en bas */
        align-items: center;
    }

    .sidebar {
        width: 355px; /* Largeur fixe de la sidebar */
        margin-left: auto; /* Centrage horizontal : marge gauche automatique */
        margin-right: auto; /* Centrage horizontal : marge droite automatique */
        height: auto; /* Hauteur automatique basée sur le contenu */
        border-radius: 20px;
        padding: 0;
        margin-top: 10px;
        border: none;

    }
    .dark-mode .logo{
        display: none;
    }

    .sidebar-nav {
        display: flex; /* Utilise Flexbox pour aligner les nav-items */
        flex-direction: row; /* Alignement horizontal des nav-items */
        justify-content: space-around;
    }

    .nav-item {
        /* Ajustez le padding, la marge et d'autres styles pour les petits écrans */
        padding: 10px; /* Ajustement du padding */
        margin: 0; /* Réduction des marges */
        flex: 1; /* Distribution équitable de l'espace */
        justify-content: center;
    }
    #settings{
        display: none;
    }
    .nav-text{
        display: none;
    }

    /* Ajuster le main content pour utiliser toute la largeur disponible */
    .main-content {
        margin: 0; /* Enlever les marges */
        width: 100%; /* Prendre toute la largeur */
        height: 31rem;
    }

    .logo svg{
        display: none;
    }
    .logo-text{
        display: none;
    }
    .sidebar-footer{
        display: none;
    }
    .mod-button{
        display: none;
    }
    .navbar-text{
        display: none;
    }
    .main-header {
        flex-direction: column; /* Change la direction de flex pour empiler verticalement */
        align-items: flex-start; /* Aligner les éléments à gauche */
        width: 60%; /* Assurez-vous que le main-header occupe toute la largeur */
        padding: 20px; /* Ajoutez du padding pour ne pas coller au bord */

    }

    .main-header h1{
        font-size: 25px;
    }
    .main-header h2{
        font-size: 28px;
    }

    #search-input {
        max-width: 100%; /* Permet à la barre de recherche de s'étendre sur toute la largeur */
        margin: 0; /* Retire les marges supplémentaires */
    }
    .clear-filters{
        display: none;
    }
    .title-filter{
        font-size: 18px;
    }
    .card {
        border-radius: 20px;
        margin: 10px 0;
        padding: 15px;
        font-size: 10px;
        position: relative;
    }
    .send{
        display: none;
    }
    .email-address{
        display: none;
    }.card-action{
            padding: 10px 10px;
         }
     .card-reminder{
         padding: 8px 10px;
     }
    .card-action svg, .card-reminder svg {
        margin-right: 0;
        width: 14px;
    }
    .card-actions {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        gap: 10px;
    }
    .card-container {
        display: grid;
        grid-template-columns: none;
        grid-gap: 0;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 235px;
        padding: 0;
        grid-auto-rows: 303px;
        margin-bottom: 0;
    }

}
@media (max-width: 590px) {
    .dropdown-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(185px, 0fr));
        gap: 10px;
        margin: 10px 0;
    }
    .dropdown{
        width: fit-content;
    }
}
