<div class="calendar-container">
    {% include 'partials/sidebar-right/current_date_display.html.twig' %}
    <hr class="separator-calendar"> <!-- Ligne de séparation -->
    {% include 'partials/sidebar-right/month_display.html.twig' %}
    <div id="calendar" class="calendar">
        <!-- Calendar headers and days will be generated here -->
    </div>
</div>
