<div class="month-display">
    <span class="chevron left" onclick="changeMonth(-1)">
        <!-- Left chevron SVG -->
        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 1L1 5l4 4" stroke="#A2A9C8" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </span>
    <span id="monthYear"></span>
    <span class="chevron" onclick="changeMonth(1)">
        <!-- Right chevron SVG -->
        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1l4 4-4 4" stroke="#A2A9C8" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </span>
</div>
