{% extends 'base.html.twig' %}

{% block title %}Edutask - Ajouter{% endblock %}


{% block body %}
<div class="layout">
     {% include 'partials/sidebar.html.twig' %}
     {% include 'partials/main-content-add.html.twig' %}
     {% include 'partials/sidebar_right.html.twig' %}
</div>
{% endblock %}

