<div class="logo" id="logo">
    <svg id="normalLogo" width="69" height="67" viewBox="0 0 69 67" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
                d="M62.4416 39.0511C66.0637 39.0511 69 35.9171 69 32.0511C69 28.1851 66.0637 25.0511 62.4416 25.0511L6.55841 25.0511C2.9363 25.0511 0 28.1851 0 32.0511C0 35.9171 2.9363 39.0511 6.55841 39.0511H62.4416Z"
                fill="#24243A" />
        <path
                d="M42.2161 60.6764C44.0269 63.8128 48.0374 64.8874 51.1738 63.0766C54.3101 61.2658 55.3847 57.2554 53.5739 54.119L25.6365 5.72997C23.8257 2.5936 19.8153 1.519 16.6789 3.32979C13.5425 5.14057 12.4679 9.15103 14.2787 12.2874L42.2161 60.6764Z"
                fill="#24243A" />
        <path
                d="M13.4669 54.0679C11.6562 57.2043 12.7308 61.2148 15.8671 63.0255C19.0035 64.8363 23.014 63.7617 24.8247 60.6254L52.7622 12.2363C54.5729 9.09995 53.4983 5.08949 50.362 3.27871C47.2256 1.46792 43.2151 2.54252 41.4044 5.67889L13.4669 54.0679Z"
                fill="#24243A" />
    </svg>
    <svg id="darkLogo" width="69" height="67" viewBox="0 0 69 67" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M62.4416 39.0511C66.0637 39.0511 69 35.9171 69 32.0511C69 28.1851 66.0637 25.0511 62.4416 25.0511L6.55841 25.0511C2.9363 25.0511 0 28.1851 0 32.0511C0 35.9171 2.9363 39.0511 6.55841 39.0511H62.4416Z" fill="#F3F6FF"/>
        <path d="M42.2161 60.6764C44.0269 63.8128 48.0374 64.8874 51.1738 63.0766C54.3101 61.2658 55.3847 57.2554 53.5739 54.119L25.6365 5.72997C23.8257 2.5936 19.8153 1.519 16.6789 3.32979C13.5425 5.14057 12.4679 9.15103 14.2787 12.2874L42.2161 60.6764Z" fill="#F3F6FF"/>
        <path d="M13.4669 54.0679C11.6562 57.2043 12.7308 61.2148 15.8671 63.0255C19.0035 64.8363 23.014 63.7617 24.8247 60.6254L52.7622 12.2363C54.5729 9.09995 53.4983 5.08949 50.362 3.27871C47.2256 1.46792 43.2151 2.54252 41.4044 5.67889L13.4669 54.0679Z" fill="#F3F6FF"/>
    </svg>

    <H2 class="logo-text">Edutask</H2>
</div>