<hr class="separator-profile">
<div class="profile">
    <img src="{{ asset('images/profile.jpg') }}" alt="Simon Braccini" class="profile-picture">
    <div class="profile-info">
        <p class="profile-info-user">Simon Braccini</p>
        <p class="profile-info-user"><span>Étudiant S3</span></p>
    </div>
</div>
<hr class="separator-profile">